*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
list-style-type: none;
}
a {
text-decoration: none;
color: #000;
}

/* reglas para home*/

img.logo{
    height: 100px;
    width: 130px;
}
header{
    display: flex;
    justify-content: space-between;
}
.buscador{
    display: flex;
    align-self: center;
}
.formhome{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.mainhome{
    display: flex;

}

/* reglas para register*/

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}