* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #FCF1D0;
}

/* reglas para home, header y footer*/

img.logo {
    height: 100px;
    width: 130px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #ffe600;
    color: white;
    padding: 10px 10px;
}

header nav a {
    color: #ffffff;
    background-color: #1f2351;
    border-radius: 10%;
    padding: 10px;
}

.loginregister {
    align-self: center;
}

.loginregister ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.buscador {
    display: flex;
    align-self: center;
}

.formhome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.mainhome {
    display: flex;
}

aside {
    min-width: 200px;
    margin-top: 10px;
    height: fit-content;
    background-color: white;
}

aside nav ul li {
    font-size: medium;
    margin: 15px 15px 15px 5px;
    padding-left: 10px;
}
aside nav h2{
    margin: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

section.home {
    display: flex;
    flex-wrap: wrap;

}

article {
    width: 390px;
    height: 500px;
    margin: 15px 15px 15px 15px;
    padding: 15px;
    border-radius: 5%;
    border-width: 5px;
    border-style: solid;
    border-color: #0F172A;
    background-color: white;
}

h2.titulo {
    width: 100%;
    margin: 10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

article img {
    width: 100%;
    height: 350px;
    border-radius: 10%;
}

.botondetalle {
    display: flex;
    background-color: #0F172A;
    color: white;
    padding: 15px 15px;
    font-weight: 500;
    width: 130px;
    justify-content: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffe600;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    height: 200px;
    margin-top: 20px;
    font-size: 30px;
    color: #0F172A;
}

/* reglas para register*/

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.register div{
    margin: 10px;
}


/* reglas para login*/

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.login div{
    margin: 10px;
}

/* reglas para producto*/

main.producto{
    display: flex;
}
div.reviews{
    display: flex;
    justify-content: center;
}
.reviews article{
    width: 300px;
    height: 150px;
}
section.reviews h2{
margin-left: 15px;
margin-top: 20px;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
}


section.imagen{
display: flex;
flex-direction: column;
background-color: #ffffff;
border: #ffffff;
margin: 10px 15px 0px;
padding: 10px;
}
section.imagen img{
    width: 400px;
    height: 400px;
    align-self: center;
    border: #0F172A;
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5px
}
section.imagen p{
    margin: 3px 0px;
}
section.imagen h2.nombredelproducto{
    font-size: 35px;
    font-weight: 900;
    margin: 0px 10px 30px 0px; 
}

/* reglas para Search-results*/

.search-results{
    display: flex;
}